<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>РћС‚РїСЂР°РІРёС‚СЊ РђР»РёСЃРµ СЃРѕРѕР±С‰РµРЅРёРµ РІ nameless: СЏ Р±СѓРґСѓ С‡РµСЂРµР· 10 РјРёРЅСѓС‚</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
