<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>ШЈШ±ШіЩ„ Ш±ШіШ§Щ„Ш© Щ„Ш®Ш§Щ„ШЇ Ш№ШЁШ± ШЄЩЉЩ„ЩЉШ¬Ш±Ш§Щ… (nameless) Щ€ШЈШ®ШЁШ±Щ‡ ШЈЩ† Щ‡ШЇЩЉШЄЩ‡ Щ€ШµЩ„ШЄ ШҐЩ„Щ‰ Ш§Щ„Щ…Щ†ШІЩ„</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
